* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.bg-light {
    background-color: lightgray !important;
}*/

.navbar-text {
    margin-left: auto;
}

.background-page {
    display: flex;
    background-color: darkgray;
    width: 100%;
    justify-content: center;
}

.main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: lightgray;
}

.logo-box > img {
    width: 100%;
}

.daily-poem {
    padding: 1.6em 1.2em;
}

.daily-poem > h2 {
    border: red solid 1px;
}

.daily-poem > .stanza {
    align-self: flex-start;
}

.daily-poem > a {
    align-self: flex-start;
}

.welcome {
    margin-top: 1.4em;
    padding: 1em 1.2em;
}

.resources {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
    font-size: 0.8em;
}

.resource > h6 {
    font-size: 1.1em;
}

.resource > ul, .stanza > ul {
    list-style: none;
}

.poem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poem > .poem-body {
    text-align: center;
    font-style: italic;
    line-height: 1.1em;
}

.github {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4em;
}

/*Mobile Styles*/
@media only screen and (max-width: 400px) {}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {}

/*Desktop Styles*/
@media only screen and (min-width: 961px) {}